{include file="common/head"/}
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    {include file="common/left"}
    <div class="main-content">
        <div class="main-content-inner">
            {include file="common/header_nav"}
            <div class="page-content">
                <div class="row maintop">
                    <div class="col-xs-12 col-sm-2">
                        <a href="{:url('addexper')}">
                            <button class="btn btn-xs btn-danger">
                                <i class="ace-icon fa fa-plus bigger-110"></i>
                                添加工作经验
                            </button>
                        </a>
                    </div>
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}">
                        <div class="col-xs-12 col-sm-6 btn-sespan">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-search"></i>
                                </span>
                                <input type="text" name="val" id="val" class="form-control search-query admin_sea"
                                       value="{$testval}" placeholder="输入需查询的工作经验"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-xs btm-input btn-purple">
                                        搜索
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="input-group-btn">
                            <a href="{:url('index')}">
                                <button type="button" class="btn btn-xs all-btn btn-purple">
                                    <span class="ace-icon fa fa-refresh icon-on-right bigger-110"></span>
                                    显示全部
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table id="simple-table"
                                           class="table table-striped table-bordered table-hover center">
                                        <thead>
                                        <tr>
                                            <th class="center">编号</th>
                                            <th class="center visible-lg visible-md">工作经验名称</th>
                                            <th class="center">排序</th>
                                            <th class="center">添加时间</th>
                                            <th class="center" style="border-right:1px solid #ddd; ">操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {volist name="res" id="vo"}
                                        <tr>
                                            <td>{$vo.e_id}</td>
                                            <td class=" visible-lg visible-md">{$vo.e_name}</td>
                                            <td>{$vo.e_sort}</td>
                                            <td>{$vo.e_time|date="Y-m-d H:i:s",###}</td>
                                            <td>
                                                <div class="action-buttons">
                                                    <a class="green" href="{:url('showUpdate',['e_id'=>$vo['e_id']])}"
                                                       title="修改">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i> </a>
                                                    <a class="red" href="javascript:;" onclick="return del({$vo.e_id});"
                                                       title="删除">
                                                        <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}


                                        <tr>
                                            <td colspan="5" align="center">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->
    {include file="common/foot" /}

</div><!-- /.main-container -->

<!-- inline scripts related to this page -->
<script type="text/javascript">
    function del(id) {
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('delexper')}?e_id=" + id;
        });
    }
    function stateyes(id) {
        $.post('{:url("adminState")}', {'id': id}, function (data) {
            if (data.status == 1) {
                if (data.info == '状态禁止') {
                    var a = '<button class="btn btn-minier btn-danger">状态禁用</button>'
                    $('#zt' + id).html(a);
                    return false;
                } else {
                    var b = '<button class="btn btn-minier btn-yellow">状态开启</button>'
                    $('#zt' + id).html(b);
                    return false;
                }
            } else {
                layer.alert(data.info, {icon: 4});
                return false;
            }
        });
        return false;
    }
</script>
</body>
</html>
